/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(135deg, #6b73ff, #2f52e0);
    color: white;
    padding: 50px 20px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Barra de navegação */
nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #ffce00;
}

/* Seção de cursos */
#cursos {
    padding: 100px 20px;
    background-color: white;
    text-align: center;
}

#cursos h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
}

.curso-container {
    display: grid; /* Layout de grid */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsividade */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaço entre os itens */
    padding: 20px;
}

.curso {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curso:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.curso h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
}

.curso p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}

/* Botão de ação */
.btn {
    color: #333;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
    background: linear-gradient(45deg, #ffce00, #ff9000);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #333;
    color: white;
    background: linear-gradient(45deg, #333, #666);
}

/* Rodapé */
footer {
    background-color: #2f52e0;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .curso-container {
        flex-direction: column;
        gap: 20px;
    }

    .curso {
        max-width: 100%;
    }
}

/* Botão do YouTube no rodapé */
.btn-youtube {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #FF0000; /* Vermelho característico do YouTube */
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 10px;
}

.btn-youtube:hover {
    background: #CC0000;
    color: #fff;
    transform: scale(1.05);
}
